*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-image: linear-gradient(#81d4fa, #2196f3);
}

.container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
}

.content img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

.content table {
  margin: 0 auto;
}

.kanan {
  border-radius: 30px;
  padding: 40px;
  background: #f6f8fd;
  width: 450px;
  height: 570px;
  position: relative;
  top: -50px;
  box-shadow: 10px black;
}

.container img {
  display: block;
  width: 910px;
  height: 570px;
  position: relative;
  left: 30px;
  top: -50px;
}

#InputButton {
  display: flex;
}

.kanan input {
  border-radius: 50px;
  padding: 15px;
  border: none;
  background-color: #e5e9f2;
}

#SearchBtn {
  color: white;
  background-color: #2196f3;
  margin-left: 5px;
  padding: 15px;
  border-radius: 50%;
  border: none;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

